@import "tailwindcss";

:root {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #020202;
    color: white;
}

/* Professional Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #020202;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #22d3ee;
}

/* Typography Utilities */
.font-mono {
    font-family: 'Space Mono', monospace;
}